<a href="https://colab.research.google.com/github/CcTheresa/Notia/blob/data-analysis/userengagement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Behavioral and psychological drivers of engagement in wellness and mental health mobile applications: a multi-dataset exploratory analysis



*   This project focuses on behavioral and psychological engagement dynamics in wellness and mental health-related mobile applications, aiming to identify patterns of sustained usage, disengagement, and user interaction behaviors through multi-dataset exploratory analysis.

*  What psychological, emotional, and behavioral drivers shape engagement, retention, and value perception in app ecosystems, and how do these drivers translate into mental wellness technology design?

In [15]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
import pandas as pd

# Use the path to your CSV file in Drive
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/mobile_app_user_dataset_1.xlsx")
df.head()

/usr/local/lib/python3.12/dist-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,ID,StartDate,EndDate,Response Status,Participant Type,Q1_1_TEXT,Q1_2_TEXT,Q1_3_TEXT,Q1_4_TEXT,Q1_5_TEXT,...,Q30_1,Q30_2,Q30_3,Q30_4,Q30_5,Q30_6,Q30_7,Q30_8,Q30_9,Q30_10
0,Unique ID for each participant,StartDate,EndDate,"0=incomplete response, 1=complete response, 2=...","1=ours, 2=panel",Browser Meta Info-Browser,Browser Meta Info-Version,Browser Meta Info-Operating System,Browser Meta Info-Screen Resolution,Browser Meta Info-Flash Version,...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...
1,1,2012-09-26 07:46:07,2012-09-26 07:46:21,2,1,Chrome,21.0.1180.89,WOW64,1280x800,11.3.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2012-09-26 07:45:19,2012-09-26 07:56:41,1,1,Safari iPhone,6,CPU iPhone OS 6_0 like Mac OS X,320x480,-1,...,6,3,7,2,6,3,4,3,4,4
3,3,2012-09-26 07:45:35,2012-09-26 08:01:56,1,1,Safari,6,CPU OS 6_0 like Mac OS X,768x1024,-1,...,4,4,5,2,3,3,5,3,5,3
4,4,2012-09-26 16:58:29,2012-09-26 17:05:50,1,1,Firefox,15.0.1,Intel Mac OS X 10.6,1920x1200,11.4.402,...,4,3,6,3,5,5,5,2,5,3

In [17]:
df.shape

(10209, 161)

In [18]:
df.head(10)

,ID,StartDate,EndDate,Response Status,Participant Type,Q1_1_TEXT,Q1_2_TEXT,Q1_3_TEXT,Q1_4_TEXT,Q1_5_TEXT,...,Q30_1,Q30_2,Q30_3,Q30_4,Q30_5,Q30_6,Q30_7,Q30_8,Q30_9,Q30_10
0,Unique ID for each participant,StartDate,EndDate,"0=incomplete response, 1=complete response, 2=...","1=ours, 2=panel",Browser Meta Info-Browser,Browser Meta Info-Version,Browser Meta Info-Operating System,Browser Meta Info-Screen Resolution,Browser Meta Info-Flash Version,...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...,Your personality may influence the types of ap...
1,1,2012-09-26 07:46:07,2012-09-26 07:46:21,2,1,Chrome,21.0.1180.89,WOW64,1280x800,11.3.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2012-09-26 07:45:19,2012-09-26 07:56:41,1,1,Safari iPhone,6,CPU iPhone OS 6_0 like Mac OS X,320x480,-1,...,6,3,7,2,6,3,4,3,4,4
3,3,2012-09-26 07:45:35,2012-09-26 08:01:56,1,1,Safari,6,CPU OS 6_0 like Mac OS X,768x1024,-1,...,4,4,5,2,3,3,5,3,5,3
4,4,2012-09-26 16:58:29,2012-09-26 17:05:50,1,1,Firefox,15.0.1,Intel Mac OS X 10.6,1920x1200,11.4.402,...,4,3,6,3,5,5,5,2,5,3
5,5,2012-09-27 04:16:04,2012-09-27 04:24:56,1,1,Chrome,22.0.1229.79,Intel Mac OS X 10_7_4,1280x800,11.4.402,...,2,6,4,3,6,5,7,3,5,3
6,6,2012-09-27 08:50:34,2012-09-27 08:56:48,1,1,Chrome,21.0.1180.89,WOW64,1920x1080,11.3.31,...,3,2,6,2,6,4,3,2,5,2
7,7,2012-09-28 07:34:22,2012-09-28 07:52:37,1,1,Chrome,22.0.1229.79,Macintosh,1280x800,11.4.402,...,4,3,4,3,5,4,5,6,5,4
8,8,2012-09-28 10:07:41,2012-09-28 10:20:14,1,1,Firefox,15.0.1,Windows NT 6.1,1366x768,11.4.402,...,4,4,4,1,5,6,4,2,5,6
9,9,2012-09-28 11:32:28,2012-09-28 11:40:11,1,1,Firefox,15.0.1,Windows NT 6.1,1600x900,11.4.402,...,4,3,4,6,6,5,4,5,4,6

In [19]:
df.columns

Index(['ID', 'StartDate', 'EndDate', 'Response Status', 'Participant Type',
       'Q1_1_TEXT', 'Q1_2_TEXT', 'Q1_3_TEXT', 'Q1_4_TEXT', 'Q1_5_TEXT',
       ...
       'Q30_1', 'Q30_2', 'Q30_3', 'Q30_4', 'Q30_5', 'Q30_6', 'Q30_7', 'Q30_8',
       'Q30_9', 'Q30_10'],
      dtype='object', length=161)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10209 entries, 0 to 10208
Columns: 161 entries, ID to Q30_10
dtypes: object(161)
memory usage: 12.5+ MB

In [21]:
df.isnull().sum()

ID                     0
StartDate              0
EndDate                0
Response Status        0
Participant Type       0
                    ...
Q30_6               4932
Q30_7               4932
Q30_8               4932
Q30_9               4932
Q30_10              4932
Length: 161, dtype: int64

In [22]:
df.describe(include="all")

,ID,StartDate,EndDate,Response Status,Participant Type,Q1_1_TEXT,Q1_2_TEXT,Q1_3_TEXT,Q1_4_TEXT,Q1_5_TEXT,...,Q30_1,Q30_2,Q30_3,Q30_4,Q30_5,Q30_6,Q30_7,Q30_8,Q30_9,Q30_10
count,10209,10209,10209,10209,10209,10040,10036,10040,10040,10040,...,5277,5277,5277,5277,5277,5277,5277,5277,5277,5277
unique,10209,9903,9961,7,3,9,202,150,297,116,...,8,8,8,8,8,8,8,8,8,8
top,10208,2012-10-23 10:12:39,2012-10-23 14:20:44,1,2,MSIE,9,Windows NT 6.1,1366x768,11.4.402.287,...,4,4,6,4,6,4,6,2,6,2
freq,1,3,3,4824,9818,4302,2396,4904,2027,2739,...,1239,1230,1584,1147,1410,1228,1631,1466,1381,1192



*   Construct Mapping Approach

This analysis transforms raw survey questions into higher-level behavioral constructs in order to model user engagement patterns in wellness and mental health mobile applications. Rather than analyzing individual survey items in isolation, conceptually related questions are grouped into theoretically meaningful constructs (e.g., emotional regulation, boredom-driven engagement, habit stability, self-improvement orientation).

Each construct represents an underlying psychological or behavioral driver inferred from multiple survey variables. Composite construct scores are computed by aggregating responses from relevant survey items, allowing complex engagement dynamics to be analyzed at a behavioral-system level rather than as fragmented variables.

This approach enables structured analysis of engagement mechanisms, supports cross-dataset comparison, and creates a bridge between behavioral data and product design decisions. It shifts the analysis from descriptive statistics to explanatory behavioral modeling.

In [23]:
#seeing how many columns are present in ds
sorted(df.columns)

['Do you use apps? (based on all app related questions)',
 'EndDate',
 'For those who answered Q4, do they know which app store they are using?',
 'ID',
 'Participant Type',
 'Q10_1',
 'Q10_10',
 'Q10_11',
 'Q10_12',
 'Q10_13',
 'Q10_14',
 'Q10_15',
 'Q10_2',
 'Q10_3',
 'Q10_4',
 'Q10_5',
 'Q10_6',
 'Q10_7',
 'Q10_8',
 'Q10_9',
 'Q11_1',
 'Q11_10',
 'Q11_11',
 'Q11_12',
 'Q11_2',
 'Q11_3',
 'Q11_4',
 'Q11_5',
 'Q11_6',
 'Q11_7',
 'Q11_8',
 'Q11_9',
 'Q12.1_1_TEXT',
 'Q12.1_2_TEXT',
 'Q12.1_3_TEXT',
 'Q12.1_4_TEXT',
 'Q12.2',
 'Q13_1',
 'Q13_2',
 'Q13_3',
 'Q13_4',
 'Q13_5',
 'Q13_6',
 'Q13_7',
 'Q14_1',
 'Q14_10',
 'Q14_11',
 'Q14_12',
 'Q14_13',
 'Q14_14',
 'Q14_15',
 'Q14_2',
 'Q14_3',
 'Q14_4',
 'Q14_5',
 'Q14_6',
 'Q14_7',
 'Q14_8',
 'Q14_9',
 'Q15_1',
 'Q15_10',
 'Q15_11',
 'Q15_12',
 'Q15_13',
 'Q15_14',
 'Q15_15',
 'Q15_16',
 'Q15_17',
 'Q15_18',
 'Q15_19',
 'Q15_2',
 'Q15_20',
 'Q15_21',
 'Q15_22',
 'Q15_23',
 'Q15_3',
 'Q15_4',
 'Q15_5',
 'Q15_6',
 'Q15_7',
 'Q15_8',
 'Q15_9',
 'Q16',
 'Q17',
 'Q18',
 'Q19',
 'Q1_1_TEXT',
 'Q1_2_TEXT',
 'Q1_3_TEXT',
 'Q1_4_TEXT',
 'Q1_5_TEXT',
 'Q1_6_TEXT',
 'Q1_7_TEXT',
 'Q2',
 'Q20',
 'Q21',
 'Q22',
 'Q23',
 'Q24',
 'Q25',
 'Q26',
 'Q27',
 'Q28',
 'Q29.1',
 'Q29.10',
 'Q29.11',
 'Q29.12',
 'Q29.13',
 'Q29.2',
 'Q29.3',
 'Q29.4',
 'Q29.5',
 'Q29.6',
 'Q29.7',
 'Q29.8',
 'Q29.9',
 'Q30_1',
 'Q30_10',
 'Q30_2',
 'Q30_3',
 'Q30_4',
 'Q30_5',
 'Q30_6',
 'Q30_7',
 'Q30_8',
 'Q30_9',
 'Q3_1_TEXT',
 'Q3_2_TEXT',
 'Q4',
 'Q5',
 'Q6',
 'Q7_1',
 'Q7_2',
 'Q7_3',
 'Q7_4',
 'Q7_5',
 'Q7_6',
 'Q8_1',
 'Q8_10',
 'Q8_2',
 'Q8_3',
 'Q8_4',
 'Q8_5',
 'Q8_7',
 'Q8_8',
 'Q8_9',
 'Q9_1',
 'Q9_10',
 'Q9_11',
 'Q9_12',
 'Q9_13',
 'Q9_2',
 'Q9_3',
 'Q9_4',
 'Q9_5',
 'Q9_6',
 'Q9_7',
 'Q9_8',
 'Q9_9',
 'Response Status',
 'StartDate']

In [6]:
#keeping the columns with survey questions only
q_blocks = sorted(set([col.split("_")[0] for col in df.columns if col.startswith("Q")]))
q_blocks

['Q1',
 'Q10',
 'Q11',
 'Q12.1',
 'Q12.2',
 'Q13',
 'Q14',
 'Q15',
 'Q16',
 'Q17',
 'Q18',
 'Q19',
 'Q2',
 'Q20',
 'Q21',
 'Q22',
 'Q23',
 'Q24',
 'Q25',
 'Q26',
 'Q27',
 'Q28',
 'Q29.1',
 'Q29.10',
 'Q29.11',
 'Q29.12',
 'Q29.13',
 'Q29.2',
 'Q29.3',
 'Q29.4',
 'Q29.5',
 'Q29.6',
 'Q29.7',
 'Q29.8',
 'Q29.9',
 'Q3',
 'Q30',
 'Q4',
 'Q5',
 'Q6',
 'Q7',
 'Q8',
 'Q9']

In [7]:
[col for col in df.columns if col.endswith("_TEXT")]

['Q1_1_TEXT',
 'Q1_2_TEXT',
 'Q1_3_TEXT',
 'Q1_4_TEXT',
 'Q1_5_TEXT',
 'Q1_6_TEXT',
 'Q1_7_TEXT',
 'Q3_1_TEXT',
 'Q3_2_TEXT',
 'Q12.1_1_TEXT',
 'Q12.1_2_TEXT',
 'Q12.1_3_TEXT',
 'Q12.1_4_TEXT']

In [11]:
df[[col for col in df.columns if col.startswith("Q1_")]].head()

,Q1_1_TEXT,Q1_2_TEXT,Q1_3_TEXT,Q1_4_TEXT,Q1_5_TEXT,Q1_6_TEXT,Q1_7_TEXT
0,Browser Meta Info-Browser,Browser Meta Info-Version,Browser Meta Info-Operating System,Browser Meta Info-Screen Resolution,Browser Meta Info-Flash Version,Browser Meta Info-Java Support,Browser Meta Info-User Agent
1,Chrome,21.0.1180.89,WOW64,1280x800,11.3.31,1,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
2,Safari iPhone,6,CPU iPhone OS 6_0 like Mac OS X,320x480,-1,0,Mozilla/5.0 (iPhone; CPU iPhone OS 6_0 like Ma...
3,Safari,6,CPU OS 6_0 like Mac OS X,768x1024,-1,0,Mozilla/5.0 (iPad; CPU OS 6_0 like Mac OS X) A...
4,Firefox,15.0.1,Intel Mac OS X 10.6,1920x1200,11.4.402,1,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.6; r...

In [14]:
df[[col for col in df.columns if col.startswith("Q12.1")]].tail()

      Q12.1_1_TEXT Q12.1_2_TEXT Q12.1_3_TEXT Q12.1_4_TEXT
10204            ０            ０            ０            ０
10205          NaN          NaN          NaN          NaN
10206          NaN          NaN          NaN          NaN
10207          NaN          NaN          NaN          NaN
10208            0           ない           ない           ない